.head {
    width: 600px;
    height: 50px;
    margin: 0 auto;
}

.head p {
    text-align: center;
}

#head1 p {
    text-align: center;
}

#head1 {
    width: 600px;
    height: 50px;
    margin: 0 auto;
    font-size: 50px;
    color: red;
}

.head {
    margin-top: 100px;
    font-size: 25px;
}